<!-- <p
  [ngClass]="hasError ? 'error' : 'success'"
  [style.font-weight]="hasError ? 700 : 500"
  [ngStyle]="{
    'text-decoration': hasError ? 'underline' : 'unset'
  }"
>
  Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de
  texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias
  desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la
  imprenta) desconocido usó una galería de textos y los mezcló de tal manera que
  logró hacer un libro de textos especimen
</p>

<br />

<button [disabled]="isDisable" (click)="alternalError()">Click me</button>
<hr />

<h2>Ciclos</h2>

<ul>
  <li *ngFor="let student of students; let i = index">
    {{ i }} - {{ student }}
  </li>
</ul>

<hr />

<h2>Condicionales</h2>

<button (click)="mostrarListado = !mostrarListado">Ver listado</button>
<ul *ngIf="mostrarListado">
  <li *ngFor="let student of students; let i = index">
    {{ i }} - {{ student }}
  </li>
</ul>

<hr />

<h2>Switch</h2>
<div [ngSwitch]="status">
  <p *ngSwitchCase="'en-camino'">su paquete esta en camino</p>
  <p *ngSwitchCase="'entregado'">su paquete fue entregado</p>
  <p *ngSwitchCase="'en-preparacion'">su paquete esta en preparacion</p>
</div> -->

<!-- --ENTREGABLE LISTA DE ALUMNOS-- -->

<h1>Lista de Alumnos</h1>

<div>
  <ul>
    <li
      *ngFor="let alumno of alumnos"
      [ngClass]="listaDeAlumnos ? 'error' : 'success'"
    >
      {{ alumno | uppercase }}
    </li>
  </ul>
</div>
